html {
  background-image: url(../img/greenFelt.jpg);
}
nav{
  background-color: #B14B00;
}
#title{
  text-align: center;
  color: #B14B00;
  font-family: 'CoffeeTin', sans-serif;
  background-color: #180B05;
  font-size: 90px;
  border-radius: 60px;
  border: 2px solid #9A0000;
}
.person{
  font-size: 60px;
  color: #9A0000;
}
p{
  color: white;
  font-size: 20px;
}

img{
  display: block;
  margin: auto;
  height: 240px;
  width: 170px;
}
section{
  width: 40%;
}
#greg{
  display: inline-block;
}
#han{
  display: inline-block;
  margin-left: 50px;
}
#duane{
  margin: 0 auto;
  text-align: center;
}
div{
  text-align: center;
}
