@font-face {
  font-family: "CoffeeTin";
  src: url("../fonts/CoffeeTin Initials.ttf");
}

html {
  background-image: url(../img/greenFelt.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav{
  background-color: #B14B00;
  border: 2px solid #9A0000;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}
a{
  margin-left: 90px;
}
#title{
  text-align: center;
  color: #B14B00;
  font-family: 'CoffeeTin', sans-serif;
  background-color: #180B05;
  font-size: 90px;
  border-radius: 60px;
  border: 2px solid #9A0000;
  font-weight: lighter;
}
.person{
  font-weight: lighter;
  font-family: 'CoffeeTin', sans-serif;
  font-size: 60px;
  color: #9A0000;
  background-color: #180B05;
  border-radius: 60px;
  border: 2px solid #B14B00
}
p{
  color: white;
  font-size: 20px;
}

img{
  display: block;
  margin: auto;
  height: 250px;
  width: 250px;
}
section{
  width: 40%;
}
#greg{
  display: inline-block;
}
#han{
  display: inline-block;
  margin-left: 50px;
}
#duane{
  margin: 0 auto;
  text-align: center;
}
div{
  text-align: center;
}
