@font-face {
  font-family: "CoffeeTin";
  src: url("../fonts/CoffeeTin Initials.ttf");
}

html {
  background-image: url(../img/greenFelt.jpg);
}

body {
  width: 95%;
  height: auto;
  margin: 0px auto;
}

nav a {
  float: right;
  font-size: 30px;
  font-family: 'Limelight', cursive;
  color: #180B05;
  text-decoration: none;
}

a:hover {
  color: #E6FFB0;
}

a:active {
  text-decoration: underline;
  color: #B14B00;
}

.title {
  border: 2px solid #9A0000;
  border-radius: 60px;
  margin: 80px 17% 40px 17%;
  text-align: center;
  font-family: 'CoffeeTin', sans-serif;
  font-weight: lighter;
  font-size: 120px;
  color: #B14B00;
  background-color: #180B05;
}

section {
  text-align: center;
  font-family: 'Limelight', cursive;
}

div {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0px 3%;
  color: #180B05;
  font-size: 25px;
  vertical-align: middle;
}

.howTo h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: lighter;
}

.howTo {
  width: 700px;
  height: 350px;

}

.howTo p {
  width: 700px;
  height: 220px;
  border: 2px solid #9A0000;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(24,11,5,.65);
  font-family: Garamond;
  font-size: 30px;
  color: #E6FFB0;
}

.bankList {
  font-size: 60px;
  font-weight: 100;;
  margin: 0px;
  color: #B14B00;
}

.bet h4 {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: lighter;
}

.bet h5 {
  margin-bottom: 17px;
  font-size: 80px;
}

#play {
  width: 350px;
  height: 60px;
  position: relative;
  margin-left: calc(50% - 175px);
  margin-top: 80px;
  background-color: #180B05;
  font-family: 'CoffeeTin', sans-serif;
  font-weight: 100;
  font-size: 45px;
  color: #B14B00;
  border-radius: 30px;
  border-color: #9A0000;
}

#play:hover {
  background-color: #182803;
  color: #E6FFB0;
  border-color: #B14B00;
}

#play:active {
  background-color: #9A0000;
  color: #180B05;
  border-color: #B14B00;
}
#deckNum{
  font-size: 20px;
  width: 20%;
  height: 15%;
  margin-top: 2%;
  background-color: #E6FFB0;
  border: 2px solid #9A0000;
}
