* {
  color: black;
 /*border: 2px solid black;*/
}
html{
background-image: url(../img/greenFelt.jpg);

}

h1{
  background-color: gold;
  text-align: center;
}
nav{
  background-color: red;
}
p{
  margin: auto;
  width: 600px;
}

section{
  margin: auto;
  height: 700px;
  width: 700px;
}
#dealer_img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 240px;
  width: 170px;

}
#player_img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 240px;
  width: 170px;
}
#card_back{
  display: block;
  margin: 0 auto;
  height: 240px;
  width: 170px;


}

h2{
  color:white;
}
form{
  width: 250px;
}

/*/------card flip--------------*/

.flip_container{
  width: 170px;
  height: 240px;
  margin: 0px calc(50% - 85px);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}
.flip_container:hover .flip{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flip {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.flip_front {
  width: 170px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
       top: 0;
      left: 0;




.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  animation:gameover 20s linear forwards;
  font-size:80px; color:white; font-weight:bold; text-align:center;
  text-indent:0;
  line-height:500px;
}
/*++++++++++++++++++++++++++++++Card Flip v2++++++++++++++++*/
/*
.flip_container{
  width: 170px;
  height: 240px;
  margin: 0px calc(50% - 85px);
  position: relative;
  perspective: 800px;
}

#flip {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: right;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#flip figure {
  margin: 0px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#flip .back {
  transform: rotateY(180deg);
}

#flip .flipped {
  transform: rotateY(180deg);
  transform: translateX(-100%) rotateY(-180deg);
}*/
