* {
  color: black;
 /*border: 2px solid black;*/
}
html{
background-image: url(../img/greenFelt.jpg);

}

h1{
  background-color: gold;
  text-align: center;
}
nav{
  background-color: red;
}
p{
  margin: auto;
  width: 600px;
}

.allCard{
  display: inline-block;
}


section img{
  height: 100px;
  width: 70px;
}


#dealer_img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 240px;
  width: 170px;

}
#player_img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 240px;
  width: 170px;
}
#card_back{
  display: block;
  margin: 0 auto;
  margin-left: 5px;
  height: 255px;
  width: 185px;


}

h2{
  color:white;
}
form{
  width: 250px;
}

/*/------card flip--------------*/

.flip_container{
  width: 190px;
  height: 260px;
  margin: 0 auto;
}
.flip_container:hover .flip{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flip {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}
.flip_front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
       top: 0;
      left: 0;
}
.flip_front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);*/
}
/*.flip_back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}*/



.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  animation:gameover 20s linear forwards;
  font-size:80px; color:white; font-weight:bold; text-align:center;
  text-indent:0;
  line-height:500px;
}
