@font-face {
  font-family: "CoffeeTin";
  src: url("../fonts/CoffeeTin Initials.ttf");
}

html{
background-image: url(../img/greenFelt.jpg);

}

header h1 {
    border: 2px solid #9A0000;
    border-radius: 50px;
    margin: 50px 17% 40px 17%;
    text-align: center;
    font-family: 'CoffeeTin', sans-serif;
    font-weight: lighter;
    font-size: 100px;
    color: #B14B00;
    background-color: #180B05;
}

#dealer{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  color: #180B05;
  text-align: center;
}

#allCard{
  display: inline-block;
  margin-left: 330px;
}


section img{
  height: 150px;
  width: 105px;
  margin-bottom: 10px;
}


#dealer_img{
  display: block;
  float: right;
  margin-right: calc(50% - 85px);
  margin-bottom: 15px;
  height: 240px;
  width: 170px;

}


h2{
  color:#E6FFB0;
}
form{
  float: left;
  margin-left: 5%;
  width: 300px;
  height: 150px;
  border: 2px solid #9A0000;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(24,11,5,.65);
  font-family: Garamond;
  font-size: 30px;
  color: #E6FFB0;
}
label{
  color: #E6FFB0;
  font-size: 25px;
}

.quit {
  float: right;
  margin-right: 40px;
}
.card-label{
  position: relative;
  top: 15px;
  right: 85px;
  display: inline-block;
  width: 70px;
  color: #E6FFB0;
  font-size: 25px;
}
#current-bank{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  width: 350px;
  position: relative;
  margin-left: 5%;
}
#bank{
  font-family: 'CoffeeTin', sans-serif;
  font-weight: lighter;
  font-size: 65px;
  color: #B14B00;
  position: relative;
  margin-left: 5%;
  margin-top: 0px;
}

#play-button {
  width: 350px;
  height: 60px;
  position: relative;
  margin-left: calc(15% - 175px);
  margin-top: 80px;
  background-color: #180B05;
  font-family: 'CoffeeTin', sans-serif;
  font-weight: 100;
  font-size: 45px;
  color: #B14B00;
  border-radius: 30px;
  border-color: #9A0000;
}

#play-button:hover {
  background-color: #182803;
  color: #E6FFB0;
  border-color: #B14B00;
}

#play-button:active {
  background-color: #9A0000;
  color: #180B05;
  border-color: #B14B00;
}

#gambler{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  color: #180B05;
  text-align: center;
}
